.add {
	background-image: url(../images/add.png) !important;
}

.delete {
	background-image: url(../images/delete.png) !important;
}
.save {
	background-image: url(../images/save.png) !important;
}


